[submodule "reference/build-nanogpt"]
	path = reference/build-nanogpt
	url = https://github.com/karpathy/build-nanogpt.git
[submodule "reference/llm.c"]
	path = reference/llm.c
	url = git@github.com:TimS-ml/llm.c.git
